@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import "../utils/adaptive.scss";
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";



html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

* {
    padding: 0;
    transition: .2s;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

a {
    color: inherit;
}

.gradient {
    background: linear-gradient(114.44deg, #624af2 0%, #50ddc3 100%);
}

body {
    background: linear-gradient(114.44deg, #624af2 0%, #50ddc3 100%);
}
.app {
    max-width: 1440px;
    padding: 0px 65px 65px;
    margin: 0 auto;
    margin-top: 10px;
    height: 100%;
    border-radius: 32px;
    letter-spacing: 1.5px;
    font-weight: 200;
    min-height: 100vh;
}

.go-to-top-box {
    position: fixed;
    right: 3%;
    bottom: 5%;
    z-index: 5;
    height: 50px;
    width: 50px;
}

@media (max-width: 1280px) {
    .app {
        padding: 0 30px 200px;
    }
}

@media (max-width: 678px) {
    .app {
        padding: 0 20px 200px;
    }
}

@media (max-width: 450px) {
    .app {
        padding: 0 10px 200px;
    }

    .go-to-top-box {
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 400px) {
    .app {
        padding: 0 5px 200px;
    }
}
